bower_components
media
build/debug*.js
build/mangled*.js
build/libs*.js
build/minified*.js
build/libs.min.js
build/osx
build/win
build/linux
node_modules
nwjs*
v8.log
steam-sdk
greenworks*
tmp*
.env
build/bin
npm-debug*
.idea
.DS_Store
